:root{
    /* CORES */
    --especial: #800b1f;

    --texto-principal: #dadada;
    --texto-descricao: #9299a3;

    --destaque-principal: #086bb1;
    --destaque-secundario: #12508f;

    --escuro-secundario: #07101b;
    --escuro-principal: #000000;

    /*ESPAÇO*/
    --espaco-peq: 8px;
    --espaco-med: 15px;
    --espaco-gra: 25px;
    --espaco-xgra: 30px;
    
    /*TIPOGRAFIA*/
    --fonte-peq: 8px;
    --fonte-med: 16px;
    --fonte-gra: 32px;
    --fonte-xgra: 64px;

    /* RADIUS */
    --radius-peq: 8px;
    --radius-med: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    padding: var(--espaco-gra);
    background-color: var(--escuro-principal);
}

#menu-hamburguer{
    font-size: 1.3em;
    color: var(--texto-principal);
    cursor: pointer;
}

.calad__apresentacao{
    display: flex;
    flex-flow: column;
    justify-content: center;

    height: 400px;
    padding-left: 15px;

    color: var(--texto-principal);
    background: url(../images/fundo-calad.jfif) center / contain;
}

.calad__apresentacao > h1{
    font-size: var(--fonte-xgra);
    margin-bottom: var(--espaco-gra);
}

.calad__apresentacao > p{
    color: var(--texto-descricao);
    font-size: var(--fonte-med);
}

.calad__navegacao{
    color: var(--texto-principal);
    padding: 10px;
    background-color: var(--escuro-secundario);
}

.navegacao-da-secao > a{
    color: var(--texto-principal);
}


/* === ESTADOS === */
.escondido{
    display: none;
}