:root{
    --especial: #800b1f;
    --texto-principal: #b1b9c5;
    --texto-descricao: #9299a3;
    --destaque-principal: #086bb1;
    --destaque-secundario: #12508f;
    --escuro-secundario: #0d2944;
    --escuro-principal: #07101b;
}