@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    /* CORES */
    --especial: #800b1f;

    --claro-principal: #dadada;
    --claro-secundario: #9299a3;

    --destaque-principal: #086bb1;
    --destaque-secundario: #12508f;

    --escuro-secundario: #2a2d36;
    --escuro-principal: #000000;

    /*ESPAÇO*/
    --espaco-peq: 8px;
    --espaco-med: 15px;
    --espaco-gra: 25px;
    --espaco-xgra: 40px;
    
    /*TIPOGRAFIA*/
    --fonte-peq: 16px;
    --fonte-med: 18px;
    --fonte-gra: 24px;
    --fonte-xgra: 46px;

    --fonte-h2: "Oswald", sans-serif;

    /* RADIUS */
    --radius-peq: 8px;
    --radius-med: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--espaco-gra);
    background-color: var(--escuro-principal);
}

#menu-hamburguer{
    font-size: 1.3em;
    color: var(--claro-principal);
    cursor: pointer;
}

.home{
    max-width: 100px;
}

.calad__apresentacao{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: var(--espaco-gra);

    height: 400px;
    padding-left: 15px;

    color: var(--claro-principal);
    background: url(../assets/images/fundo-calad.jfif) center / contain;
}

.calad__apresentacao > h1{
    font-size: 64px;
}

.calad__apresentacao > p{
    color: var(--claro-secundario);
    font-size: var(--fonte-med);
    padding-left: 3px;
}

.calad__navegacao{
    color: var(--claro-principal);
    padding-block: 40px;
    padding-inline: var(--espaco-med);
    background-color: var(--escuro-secundario);
}

.calad__navegacao > h2{
    font-family: var(--fonte-h2);
    font-size: var(--fonte-med);
    font-weight: normal;
}

.navegacao-da-secao{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.item-navegacao{
    display: grid;
    grid-template-columns: 155px 200px;
    grid-template-rows: 1fr 5fr;
}

.item-navegacao__imagem{
    grid-row: 1/3;
}

.item-navegacao__imagem img{
    width: 130px;
    border-radius: 50%;

    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}

.item-navegacao__nome{
    color: var(--claro-principal);
    font-size: var(--fonte-med);
    font-weight: bold;
    text-decoration: none;
}

.item-navegacao > p{
    color: var(--claro-secundario);
}

.botao-de-proximo{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 50%;

    color: var(--claro-principal);
    background-color: var(--escuro-principal);
    cursor: pointer;
    transition: border 0.2s;
}

.botao-de-proximo:hover{
    border: 1px solid var(--claro-principal);
}

.artigos{
    padding-block: 50px;
    background-color: var(--claro-principal);
}

.artigos h2{
    margin-top: 45px;
    padding-inline:var(--espaco-med) ;

    font-family: var(--fonte-h2);
    font-size: var(--fonte-med);
    font-weight: normal;
}

.artigo p > a{
    color: var(--especial);
    font-weight: bold;
}

.artigo p > a:hover{
    color: #ca1130;
}

.artigo__conteudo{
    margin-inline: 20px;
    margin-block: 40px;
}

.artigo__conteudo h3{
    margin-bottom: 40px;
    color: var(--escuro-secundario);
    font-size: var(--fonte-xgra);
    line-height: 40px;
}

.artigo__conteudo p{
    margin-bottom: 20px;
}

.artigo__conteudo .veja-mais{
    color: var(--escuro-principal);
    font-size: var(--fonte-gra);
    font-weight: bold;
    text-decoration: none;
}

.artigo__conteudo .veja-mais:hover .link-icone{
    color: #ca1130;
}

.link-icone{
    font-size: var(--fonte-med);
    color: var(--especial);
    transition: color 0.2s;
}

.artigo__imagem{
    width: 100%;
}
/* === ESTADOS === */
.escondido{
    display: none;
}