@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    /* CORES */
    --especial: #800b1f;

    --claro-principal: #dadada;
    --claro-secundario: #9299a3;

    --destaque-principal: #086bb1;
    --destaque-secundario: #12508f;

    --escuro-secundario: #2a2d36;
    --escuro-principal: #000000;

    /*ESPAÇO*/
    --espaco-peq: 8px;
    --espaco-med: 15px;
    --espaco-gra: 25px;
    --espaco-xgra: 40px;
    
    /*TIPOGRAFIA*/
    --fonte-peq: 16px;
    --fonte-med: 18px;
    --fonte-gra: 24px;
    --fonte-xgra: 46px;

    --fonte-h2: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--claro-principal);
}

header{
    background-color: var(--escuro-principal);
}

.header-conteudo{
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 6fr 7fr;

    width: 100%;
    max-width: 1700px;
    margin: auto;
    padding: 18px;
}

#menu-hamburguer{
    width: 27px;
    color: var(--claro-principal);
    font-size: 1.4em;
    cursor: pointer;
}

.home{
    max-width: 100px;
}

.home img{
    width: 45px;
    border-radius: 50%;
}

.navegacao-principal{
    display: flex;
    flex-flow: column;
    position: absolute;
    inset-inline: 0;
    top: 65px;
    z-index: 10;

    max-height: 680px;
    margin-inline: -18px;
    padding: 25px;
    padding-left: 40px;
    padding-top: 45px;

    background-color: var(--escuro-principal);
    overflow-y: auto;
}

.navegacao-principal a{
    margin-block: var(--espaco-med);
    color: var(--claro-principal);
    text-decoration: none;
}

.navegacao-principal a.selected{
    text-decoration: underline;
}

.navegacao-principal a:hover{
    text-decoration: underline;
}

.calad__apresentacao-container{
    background: url(../assets/images/fundo-calad.jfif) center / auto;
}

.calad__apresentacao{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: var(--espaco-gra);

    height: 550px;
    max-width: 1500px;
    margin: auto;
    padding-left: 15px;

    color: var(--claro-principal);
}

.calad__apresentacao > h1{
    font-size: 5em;
}

.calad__apresentacao > p{
    padding-left: 3px;
    color: var(--claro-secundario);
    font-size: var(--fonte-med);
    font-family: monospace;
}

.calad__navegacao-container{
    background-color: var(--escuro-secundario);
}

.calad__navegacao{
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;

    max-width: 1700px;
    margin: auto;
    padding-block: 40px;
    padding-inline: var(--espaco-med);

    color: var(--claro-principal);
}

.calad__navegacao > h2{
    font-family: var(--fonte-h2);
    font-size: var(--fonte-med);
    font-weight: normal;
}

.navegacao-da-secao{
    padding: 20px;
    padding-bottom: 0
}

.itens{
    overflow: hidden;
}

.nav-track{
    display: flex;
    gap: 5px;
    width: 100%;
    transition: transform 0.5s ease;
}

.item-navegacao{
    display: grid;
    grid-template-columns: 155px 170px;
    grid-template-rows: 1fr 5fr;
    flex: 0 0 100%;
}

.item-navegacao__imagem{
    grid-row: 1/3;
}

.item-navegacao__imagem img{
    width: 130px;
    border-radius: 50%;

    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}

.item-navegacao__nome{
    color: var(--claro-principal);
    font: bold 18px monospace;
    text-decoration: none;
}

.item-navegacao__descricao{
    width: 170px;
    margin-top: 5px;
    color: var(--claro-secundario);
    font: 1.1em / 18px monospace;
}

.botao-de-proximo{
    position: absolute;
    right: 5px;
    top: 112px;

    height: 40px;
    width: 40px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 50%;

    color: var(--claro-principal);
    background-color: var(--escuro-principal);
    cursor: pointer;
    transition: border 0.2s;
}

.botao-de-proximo:hover{
    border: 1px solid var(--claro-principal);
}

.artigos-container{
    padding-block: 50px;
}

.artigos{
    max-width: 1500px;
    margin: auto;
}

.artigos h2{
    margin-top: 45px;
    padding-inline:var(--espaco-med) ;

    font-family: var(--fonte-h2);
    font-size: var(--fonte-med);
    font-weight: normal;
}

.artigo__conteudo{
    margin-block: 40px;
    margin-inline: 20px;
}

.artigo__conteudo h3{
    margin-bottom: 40px;
    color: var(--escuro-secundario);
    font-size: 46px;
    line-height: 40px;
}

.artigo__conteudo p{
    margin-bottom: 20px;
    font: 1.2em / 25px monospace;
    text-indent: 15px;
}

.artigo__conteudo p > a{
    color: var(--especial);
    font-weight: bold;
}

.artigo__conteudo p > a:hover{
    color: #ca1130;
}

.artigo__conteudo .veja-mais{
    color: var(--escuro-principal);
    font-size: 24px;
    font-weight: bold; 
    text-decoration: none;
}

.artigo__conteudo .veja-mais:hover .link-icone{
    color: #ca1130;
}

.link-icone{
    color: var(--especial);
    font-size: 18px;
    transition: color 0.2s;
}

.artigo__midia{
    max-width: 850px;
    margin: auto;
}

.artigo__imagem{
    width: 100%;
}

.artigo__imagem-descricao{
    color: #686d7e;
    line-height: 20px;
    font-size: 0.8em;
    text-align: justify;
}

.artigo__imagem-descricao > span{
    color: var(--escuro-principal);
}

.rodape{
    background-color: var(--escuro-principal);
    color: var(--claro-principal);
}

.rodape__conteudo{
    display: flex;
    flex-flow: column;
    gap: 40px;

    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 18px;
}

.caladan-logo{
    width: 45px;
    border-radius: 50%;
}

.rodape__navegacao{
    display: flex;
    flex-flow: column wrap;
}

.rodape__adicionais{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* === ESTADOS === */
.escondido{
    display: none;
}

/* === MEDIA QUERIES === */
@media screen and (min-width: 640px){
    .rodape__conteudo{
        display: grid;
        grid-template-rows: 350px 200px;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
}

@media screen and (min-width: 800px){
    .item-navegacao{
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 1024px){
    .header-conteudo{
        display: flex;
        justify-content: space-between;
    }

    .navegacao-principal{
        display: flex;
        flex-flow: row;
        gap: 30px;
        position: static;

        width: auto;
        padding: 5px;
        padding-right: 20px;
    }

    #menu-hamburguer{
        display: none;
    }

    .artigos-container{
        padding-block: 20px;
    }

    .artigo{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .artigo__midia{
        margin-block: 40px;
        margin-inline: 20px;
    }

    .rodape__conteudo{
        display: grid;
        grid-template-columns: 4fr 4fr 2fr;
    }

    .rodape__adicionais{
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1/-1;
    }
}

@media screen and (min-width: 1190px){
    .item-navegacao{
        flex: 0 0 33%;
    }
}

@media screen and (min-width: 1390px){
    .item-navegacao{
        flex: 0 0 25%;
    }

    .botao-de-proximo{
        display: none;
    }
}