@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*
  BREAKPOINTS
  Principais — mudanças estruturais de layout
    sm:  640px  → footer em grid
    md:  1024px → header desktop, artigo em colunas
    lg:  1390px → layout final largo

  Ajuste — comportamento específico do carrossel
    card-2col: 800px
    card-3col: 1190px
*/

:root{
    /* CORES */
    --main-dark: #000000;
    --secondary-dark: #2a2d36;
    --dark-details: #686868;

    --main-light: #dadada;
    --secondary-light: #9299a3;

    --main-special: #800b1f;
    --secondary-special: #ca1130;

    /*TIPOGRAFIA*/
    --section-title-font: "Oswald", sans-serif;
    --font-body: "Source Code Pro", monospace;

    --text-sm: 0.9rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;

    --caption-text: 0.8rem;
    --text-article-title: 2.875rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-light);
}

header{
    background-color: var(--main-dark);
}

.header__wrapper{
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 6fr 7fr;

    width: 100%;
    max-width: 1700px;
    margin: auto;
    padding: 18px;
}

.header__menu-toggle{
    width: 27px;
    border: none;
    color: var(--main-light);
    font-size: 1.4rem;
    background-color: var(--main-dark);
    cursor: pointer;
}

.header__logo{
    max-width: 100px;
}

.header__logo img{
    width: 45px;
    border-radius: 50%;
}

.header__nav{
    display: none;
    flex-flow: column;
    position: absolute;
    inset-inline: 0;
    top: 65px;
    z-index: 10;

    max-height: 680px;
    padding: 25px;
    padding-left: 40px;
    padding-top: 45px;

    background-color: var(--main-dark);
    overflow-y: auto;
}

.header__nav--open{
    display: flex;
}

.header__nav a{
    margin-block: 15px;
    color: var(--main-light);
    text-decoration: none;
}

.header__nav a.nav__link--selected{
    text-decoration: underline;
}

.header__nav a:hover{
    text-decoration: underline;
}

.hero{
    background: url(../assets/images/fundo-calad.jfif) center / auto;
}

.hero__wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 25px;

    height: 550px;
    max-width: 1500px;
    margin: auto;
    padding-left: 15px;
    color: var(--main-light);
}

.hero__title{
    font-size: 5rem;
    line-height: 1.1;
}

.hero__subtitle{
    padding-left: 3px;
    color: var(--secondary-light);
    font-family: var(--font-body);
    font-size: var(--text-lg);
}

.explore{
    background-color: var(--secondary-dark);
}

.explore__wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;

    max-width: 1700px;
    margin: auto;
    padding-block: 40px;
    padding-inline: 15px;
    color: var(--main-light);
}

.explore__title{
    font-family: var(--section-title-font);
    font-size: var(--text-lg);
    font-weight: normal;
}

.explore__carousel{
    padding: 20px;
    padding-bottom: 0
}

.explore__nav{
    overflow: hidden;
}

.card-list{
    display: flex;
    gap: 5px;
    width: 100%;
    list-style: none;
    transition: transform 0.5s ease;
}

.card{
    display: grid;
    grid-template-columns: 155px 170px;
    grid-template-rows: 1fr 5fr;
    flex: 0 0 100%;

    font-family: var(--font-body);
    font-size: var(--text-lg);
}

.card__image-link{
    grid-row: 1/3;
}

.card__image-link > img{
    width: 130px;
    border-radius: 50%;

    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}

.card__title{
    color: var(--main-light);
    font-weight: bold;
    text-decoration: none;
}

.card__description{
    width: 170px;
    margin-top: 5px;
    color: var(--secondary-light);
    font-size: 0.875rem;
    line-height: 1.2;
}

.explore__button{
    position: absolute;
    right: 5px;
    top: 112px;

    height: 40px;
    width: 40px;
    border: 1px solid var(--dark-details);
    border-radius: 50%;

    color: var(--main-light);
    background-color: var(--main-dark);
    cursor: pointer;
    transition: border 0.2s;
}

.explore__button:hover{
    border: 1px solid var(--main-light);
}

.articles{
    padding-block: 50px;
}

.articles__wrapper{
    max-width: 1500px;
    margin: auto;
}

.articles__title{
    margin-top: 45px;
    padding-inline: 15px;

    font-family: var(--section-title-font);
    font-size: var(--text-lg);
    font-weight: normal;
}

.article__body{
    margin-block: 40px;
    margin-inline: 20px;
}

.article__title{
    margin-bottom: 35px;
    color: var(--secondary-dark);
    font-size: var(--text-article-title);
    line-height: 1.1;
}

.article__body p{
    margin-bottom: 20px;
    font-family: var(--font-body);
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 1.6;
    text-indent: 15px;
}

.article__body p > a{
    color: var(--main-special);
    font-weight: bold;
}

.article__body p > a:hover{
    color: var(--secondary-special);
}

.external-link{
    color: var(--main-dark);
    font-size: var(--text-lg);
    font-weight: bold;
    text-decoration: none;
}

.external-link:hover .link-icon{
    color: var(--secondary-special);
}

.link-icon{
    color: var(--main-special);
    font-size: var(--text-lg);
    transition: color 0.2s;
}

.article__media{
    max-width: 850px;
    margin: auto;
}

.article__image{
    width: 100%;
}

.article__caption{
    color: var(--dark-details);
    font-size: var(--caption-text);
    line-height: 1.5;
    text-align: justify;
}

.article__caption > span{
    color: var(--main-dark);
}

.footer{
    padding: 20px;
    color: var(--main-light);
    background-color: var(--main-dark);
}

.footer a{
    color: var(--main-light);
    font-size: var(--text-sm);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer__wrapper{
    display: flex;
    flex-flow: column;
    gap: 40px;

    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 45px;
}

.footer__brand{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 90%;
}

.footer__brand p{
    color: var(--secondary-light);
    font-size: var(--text-sm);
    line-height: 1.5;
}

.footer__logo{
    width: 45px;
    border-radius: 50%;
}

.footer__nav{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.footer__credits{
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.credit{
    font-style: italic;
    font-size: var(--text-sm);
}

.credit strong{
    color: var(--secondary-light);
}

.footer__credits p > span{
    color: var(--secondary-light);
    font-weight: bold;
}

.social-media{
    list-style: none;
}

.social-media li{
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    
    background-color: var(--secondary-dark);
    cursor: pointer;
    transition: background-color 0.2s;
}

.social-media li:hover{
    background-color: var(--secondary-light);
}

.social-media a{
    font-size: 1.08rem;
}

.footer__nav-legal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    gap: 10px;

    border-top: 1px solid var(--secondary-light);
    padding-top: 25px;
}

.footer__nav-legal a{
    color: var(--secondary-light);
}

/* === MEDIA QUERIES === */

/* sm — layout do footer */
@media screen and (min-width: 640px){
    .footer__wrapper{
        display: grid;
        grid-template-rows: 290px 250px;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
    }

    .footer__brand{
        grid-column: 1/4;
    }

    .footer__nav{
        grid-column: 4/-1;
    }

    .footer__credits{
        grid-column: 1/3;
    }

    .footer__nav-legal{
        grid-column: 3/-1;
    }
}

/* ajuste — carrossel 2 colunas */
@media screen and (min-width: 800px){
    .card{
        flex: 0 0 50%;
    }
}

/* md — header desktop, artigos */
@media screen and (min-width: 1024px){
    .header__wrapper{
        display: flex;
        justify-content: space-between;
    }

    .header__nav{
        display: flex;
        flex-flow: row;
        gap: 30px;
        position: static;

        width: auto;
        padding: 5px;
        padding-right: 20px;
    }

    .header__menu-toggle{
        display: none;
    }

    .articles{
        padding-block: 20px;
    }

    .article{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .article__media{
        margin-block: 40px;
        margin-inline: 20px;
    }

    .footer__wrapper{
        grid-template-rows: 290px 130px;
    }

    .footer__brand{
        grid-column: 1/3;
    }

    .footer__nav{
        grid-column: 3/5;
    }

    .footer__credits{
        grid-column: 5/-1;
    }

    .footer__nav-legal{
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1/-1;
    }
}

/* ajuste — carrossel 3 colunas */
@media screen and (min-width: 1190px){
    .card{
        flex: 0 0 33%;
    }
}

/* lg — layout final largo*/
@media screen and (min-width: 1390px){
    .card{
        flex: 0 0 25%;
    }

    .explore__button{
        display: none;
    }

    .footer__wrapper{
        grid-template-rows: 290px 100px;
    }

    .footer__nav-legal{
        display: flex;
        align-items: start;
        max-height: 100px;
    }
}